In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
df=pd.read_csv("Downloads\Reactions.csv")

In [30]:
df=df.iloc[:,1:8]

In [31]:
df

,Content ID,Reaction Type,Datetime,Sentiment,Score,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 9.43,negative,0,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12.22,negative,10,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 5.13,negative,15,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19.13,negative,0,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12.25,positive,30,photo,Studying
...,...,...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 9.46,negative,10,audio,technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17.17,positive,45,audio,technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 3.54,positive,30,audio,technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20.08,negative,12,audio,technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 4.55,positive,70,audio,technology

In [34]:
df['Category'] = df['Category'].apply(str.lower)

In [38]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [39]:
df1=df.groupby("Category").sum()

In [54]:
df1=df1.sort_values(by="Score",ascending=False)
df1.head(5)

                Score
Category
animals         74965
science         71168
healthy eating  69339
technology      68738
food            66676